.btn {
	background-color: #2f5572;
	color: #fff;
	padding: 0.75rem 1.2rem;
	text-decoration: none;
	display: inline-block;
}

	.btn--orange {
		background-color: #d59541;
	}

	.btn--large {
		padding: 1.1rem 1.9rem;
	}

	@media (min-width: 530px) {

	.btn--large {
			font-size: 1.25rem
	}
		}