/* Definiert den block in feature item */
.feature-item {
	position: relative;
	padding-left: 0px;
	padding-bottom: 2.5rem;


}
@media (min-width: 530px) {
.feature-item {
			padding-left: 94px


}
		}
.feature-item__icon {
		display: block;
		margin: 0 auto;
	}
@media (min-width: 530px) {
.feature-item__icon {
			position: absolute;
			left: 0
	}
		}
.feature-item__title {
		font-size: 1.6rem;
		font-weight: 300;
		margin-top: 0.7em;
		margin-bottom: .5rem;
		text-align: center;
	}
@media (min-width: 530px) {
.feature-item__title {
			margin-top: 1em;
			font-size: 1.875rem;
			text-align: left
	}
		}