.generic-content-container p {
		line-height: 1.65;
		margin: 0 0 1.8rem 0;
	}

		@media (min-width: 530px) {.generic-content-container p {
			font-size: 1.12rem
	}
		}
	.generic-content-container p a {
		font-weight: 700;
	}