.headline {
	font-weight: 300;
	font-size: 1.9rem;
	color: #2f5572;

}

	@media (min-width: 530px) {.headline {
		font-size: 2.875rem

}
	}

	.headline--centered {
		text-align: center;
	}

	.headline--orange {
		color: #d59541;
	}

	.headline--small {
		font-size: 1.3rem;
	}

	@media (min-width: 530px) {

	.headline--small {
			font-size: 1.875rem
	}
		}

	.headline--narrow {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	.headline--light {
		font-weight: 100;
	}

	.headline--b-margin-light {
		margin-bottom: .5em;
	}

	.headline--b-margin-large {
		margin-bottom: 1.6em;
	}

	.headline--no-t-margin {
		margin-top: 0;
	}