.section-title {
	font-size: 2.55rem;
	font-weight: 300;
	text-align: center;




}

	@media (min-width: 530px) {.section-title {
		font-size: 3.75rem




}
	}

	.section-title strong {
		font-weight: 500;
	}

	.section-title--blue {
		color: #2f5572;
	}

	.section-title--less-margin {
		margin-bottom: 1.3rem;
		margin-top: 0;
	}

	.section-title__icon {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0.6rem;
	}

	@media (min-width: 530px) {

	.section-title__icon {
			position: relative;
			top: 8px;
			margin-right: .5rem;
			margin-left: 0;
			/* vehindert dass der text in eine neue Zeile geschrieben wird */
			display: inline-block;
			margin-bottom: 0
	}
		}