.site-header {
	/* damit überlappen das Menu und das Header bild */
	position: absolute; 
	z-index: 2;	
	width: 100%;
	padding: 10px 0;
	/* Bei wechseln der Hintergrundfarbe soll ein fade-out erfolgen */
	transition: background-color .3s ease-out;
}		
	
	.site-header--is-expanded {
		background-color: rgba(47,85,114, .55);
	}		
	
	@media (min-width: 800px) {.site-header {
		background-color: rgba(47,85,114, .3)
}
		}		
	
	@media (min-width: 800px) {		
	
	.site-header__btn-container { 
			float: right
	}
		}		
	
	.site-header__logo {
		position: absolute;
		background-color: #2f5572;
		padding: 25px 36px;
		top: 0;
		/* Um das Logo mittig zu setzten und verhältnismässig kleiner darzustellen /SPRITE */
		left: 50%;
		transform: translateX(-50%) scale(0.8);
		/* Perfekt in der Mite horizontal und vertikal 50% 50% */
		transform-origin: 50% 0%;

	}		
	
	@media (min-width: 800px) {		
	
	.site-header__logo {
				left: auto;
				transform: translateX(0)

	}
			}		
	
	.site-header__logo__graphic {
		/* Text aus SEO Sicht vorhanden - aber aus dem Bild */
		text-indent: -9999px;  
	}		
	
	.site-header__menu-icon {

		width: 25px;
		height: 25px;
		position: absolute;
		/* braucht nen höheren z-index damit das icon über dem overlay ist*/
		z-index: 10;
		top: 10px;
		right: 10px;
	}		
	
	.site-header__menu-icon::before {
			content: "";
			position: absolute;
			top:0;
			left: 0;
			width: 25px;
			height: 3px;
			background-color: #fff;
			/* damit der strich zum einen Teil von x wird */
			transform-origin: 0 0;
			transition: transform .3s ease-out;
		}		
	
	.site-header__menu-icon__middle {
			position: absolute;
			top:11px;
			left: 0;
			width: 25px;
			height: 3px;
			background-color: #fff;
			transition: all .3s ease-out;
			transform-origin: 0 50%;
		}		
	
	.site-header__menu-icon::after  {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 25px;
			height: 3px;
			background-color: #fff;
			/* damit der strich zum einen Teil von x wird */
			transform-origin: 0 100%;
			transition: transform .3s ease-out;
		}		
	
	@media (min-width: 800px) {		
	
	.site-header__menu-icon {
			display: none
	}
		}		
	
	.site-header__menu-icon--close-x::before {
			transform: rotate(45deg) scaleX(1.25);
		}		
	
	.site-header__menu-icon--close-x .site-header__menu-icon__middle {
			opacity: 0;
			transform: scaleX(0);
		}		
	
	.site-header__menu-icon--close-x::after {
			transform: rotate(-45deg) scaleX(1.25) translateY(-1px);
		}		
	
	.site-header__menu-content {
		/* anstelle von display:none setzen wir sichtbarkeit auf 0 */
		opacity: 0;
		/* Zoom-In Effekt */
		transform: scale(1.2);
		transition: all .3s ease-out;
		/* damit z-index gesetzt werden kann */
		position: relative;
		/* damit der link nicht geklickt werden kann wenn unsichtbar */
		z-index: -10;
		padding-top: 90px;
		text-align: center;		
	}		
	
	@media (min-width: 800px) {		
	
	.site-header__menu-content {
			opacity: 1;
			z-index: 1;
			padding-top: 0;
			transform: scale(1)		
	}
		}		
	
	.site-header__menu-content--is-visible {
			/*a nstelle display block setzen wir ein fade in */
			opacity: 1;
			z-index: 1;
			/* Zoom-In Effekt auf normalgröße zurück*/
			transform: scale(1);
		}