.testimonial {
	background-color: rgba(255,255,255, .8);
	padding: 0 18px 1px 18px;
    margin-bottom: 98px;
}

	@media (min-width: 1010px) {.testimonial {
		margin-bottom: 0;
		padding: 0 1.8125rem 1px 1.8125rem 
}
	}

	.testimonial--last {
		margin-bottom: 0;
	}

	.testimonial__photo {
		/* Um einen Kreis zu machen muss der border-radius die hälte der breite sein*/
		border-radius: 80px;
		overflow: hidden;
		width: 160px;
		height: 160px;
		margin: 0px auto -80px auto;
		position: relative;
		top: -80px;
		border: 6px solid rgba(255,255,255, .8);
	}

	.testimonial__title {
		color: #2f5572;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 500;
		margin: 0;
	}

	.testimonial__subtitle {
		color: #d59541;
		text-align: center;
		font-weight: 400;
		font-size: 0.9375rem;
		margin: .25rem 0 1rem 0;
	}