.wrapper {
	/* blendet alles aus was üeber die breite rausgeht */
	overflow: hidden;
	padding-left: 18px;
	padding-right: 18px;
	/*max-width: 1200px;*/
	/* durch das globale border-boxing wird das gesamtlayout um padding left + right verschmälert*/
	max-width: 1236px;
	margin-left: auto;
	margin-right: auto;

	&--medium {
		max-width: 976px;
	}

	/* wenn ein wrapper in einen anderen wrapper greift --> padding aufheben */
	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}

	&--b-margin {
		margin-bottom: 1.0rem;

		@media (--small-viewport) {
		margin-bottom: 3.875rem;
		}
	}

	&--no-padding-until-medium {
		padding-left: 0;
		padding-right: 0;

		@media (--medium-viewport) {
			padding-left: 18px;
			padding-right: 18px;
		}
	}

	&--no-padding-until-large {
		padding-left: 0;
		padding-right: 0;
		
		@media (--large-viewport) {
			padding-left: 18px;
			padding-right: 18px;
		}
	}
}